.icon-13 {
	background: url(images/icons_13.png) no-repeat;
	height: 13px;
	width: 13px;
}

.icon-13-text-align-l { background-position: 0 0; }
.icon-13-text-align-c { background-position: -13px 0; }
.icon-13-text-align-r { background-position: -26px 0; }
.icon-13-line-solid { background-position: -39px 0; }
.icon-13-line-dashed { background-position: -52px 0; }
.icon-13-line-dotted { background-position: -65px 0; }
.icon-13-spinner-arrows { background-position: -78px 0; }
.icon-13-line-curved { background-position: -91px 0; }

.disabled .icon-13, .disabled.icon-13 {
	.icon-13-text-align-l { background-position: 0 -13px; }
	.icon-13-text-align-c { background-position: -13px -13px; }
	.icon-13-text-align-r { background-position: -26px -13px; }
	.icon-13-line-solid { background-position: -39px -13px; }
	.icon-13-line-dashed { background-position: -52px -13px; }
	.icon-13-line-dotted { background-position: -65px -13px; }
	.icon-13-spinner-arrows { background-position: -78px -13px; }
	.icon-13-line-curved { background-position: -91px -13px; }
}
