@import "_reset";
@import "_text";

.fullsize {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
}

.absolute {
	position: absolute;
	width: 0;
	height: 0;
}

.user-select-text {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.box-sizing-border {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
}

.hidden {
    display: none;
}

div.spacer {
	height: 10px;
	clear: both;
}

.bc-gui {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
}
