#betacreator {
	border: .8*#fff solid 1px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-family: "Lucida Sans", "Lucida Grande", Arial, Helvetica, sans-serif;

	// USER SELECT
	&, * {
	    -khtml-user-select: none;
		-moz-user-select: -moz-none;
		-webkit-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	input[type="text"], textarea {
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-o-user-select: text;
		user-select: text;
	}

	@import "_master";
	@import "_util";
	@import "_icons";
	@import "_buttons";
	@import "_optionbar";
	@import "_colorpicker";
	@import "_callout";
	@import "_textarea";
}
